<footer>
    <div class="footer-content">
        <div class="footer-content__title">
            <h3>МАМАКУПИ</h3><!--
            --><div>Интернет-магазин детских товаров</div>
        </div>
        <div class="footer-content__nav">
            <ul>
                <li><a href="#" class="active">Главная</a></li>
                <li></li>
                <li><a href="#">Доставка</a></li>
                <li></li>
                <li><a href="#">Способ оплаты</a></li>
                <li></li>
                <li><a href="#">Гарантии</a></li>
                <li></li>
                <li><a href="#">Контакты</a></li>
                <li></li>
                <li><a href="#">Новости</a></li>
            </ul>
            <a href="#" class="footer-callback">Обратный звонок</a>
        </div>
        <div class="footer-content__social">
            <span>Мамакупи в социальных сетях:</span>
            <a href="#" class="odnokl"></a>
            <a href="#" class="tweet"></a>
            <a href="#" class="vk"></a>
            <a href="#" class="fb"></a>
        </div>
        <div class="footer-content__baby">

        </div>
    </div>
    <div class="footer-copyright">
        Copyright &#169; 2016  Все права защищены
    </div>
</footer>

<div id="toTop">Наверх</div>

<script src="js/main.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>


</body>
</html>