<header>
    <div class="content">
        <div class="header-content">
            <div class="header-content__info">
                <div class="info-top">
                    <div class="callback">
                        <div class="callback__icon"></div>
                        <div class="callback__text"><a href="#">Обратный звонок</a></div>
                    </div>
                    <div class="phone-numbers">
                        <div class="phone-numbers__icon">
                            Телефоны:
                        </div>
                        <div class="phone-numbers__text">
                            <div class="city-code">
                                <div>+ 375 (33)</div>
                                <div>+ 375 (44)</div>
                                <div>+ 375 (25)</div>
                            </div>
                            <div class="bracket">

                            </div>
                            <div class="number">
                                756 43 43
                            </div>
                        </div>
                    </div>
                    <div class="purch-block-fixed">
                        <a href="#"><div class="purchases">
                        <span class="purchases-count">
                            <span class="purchases-border">
                                0
                            </span>
                        </span>
                        </div></a>
                    </div>
                    <div class="work-time">
                        <div class="work-time__icon"></div>
                        <div class="work-time__title">График работы:</div>
                        <div class="work-time__text">9:00-22:00 без выходных</div>
                    </div>
                </div>
                <div class="info-bottom">
                    <a href="#" class="shares"><span>АКЦИИ</span></a>
                    <div class="mother-child"></div>
                    <div class="shop-name">
                        <div class="border">
                            <div class="shop-name__title">
                                <span class="red">М</span><!--
                                --><span class="yellow">А</span><!--
                                --><span class="green">М</span><!--
                                --><span class="blue">А</span><!--
                                --><span class="violet">К</span><!--
                                --><span class="yellow">У</span><!--
                                --><span class="red">П</span><!--
                                --><span class="green">И</span>
                            </div>
                            <div class="shop-name__description">Интернет-магазин детских товаров</div>
                        </div>
                    </div>
                    <div class="site-search">
                        <input type="text" placeholder="Поиск...">
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="#">Главная</a></li>
                <li></li>
                <li><a href="#">Доставка</a></li>
                <li></li>
                <li><a href="#">Способ оплаты</a></li>
                <li></li>
                <li><a href="#">Гарантии</a></li>
                <li></li>
                <li><a href="#">Контакты</a></li>
                <li></li>
                <li><a href="#">Новости</a></li>
            </ul>
        </div>
        <div class="nav-block">
            <div class="nav-detail hide">
                <div class="nav-cont">
                <div class="nav-column">
                    <div class="nav-column__block">
                        <div class="menu-icon seat"></div>
                        <div class="menu-title">Автокресла</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon crovat-manej"></div>
                        <div class="menu-title">Кровать-манеж</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon prigunki"></div>
                        <div class="menu-title">Прыгунки</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon razv-center"></div>
                        <div class="menu-title">Развивающие центры</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon lego"></div>
                        <div class="menu-title">Конструкторы LEGO</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                </div>
                <div class="nav-borders">
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                </div>
                <div class="nav-column">
                    <div class="nav-column__block">
                        <div class="menu-icon stollers"></div>
                        <div class="menu-title">Коляски</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon matrasiki"></div>
                        <div class="menu-title">Матрасики</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon hodunki"></div>
                        <div class="menu-title">Ходунки</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon carous"></div>
                        <div class="menu-title">Карусельки музыкальные</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon board-games"></div>
                        <div class="menu-title">Настольные игры</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                </div>
                <div class="nav-borders">
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                </div>
                <div class="nav-column">
                    <div class="nav-column__block">
                        <div class="menu-icon bed"></div>
                        <div class="menu-title">Кроватки, колыбельки</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon postel"></div>
                        <div class="menu-title">Постельное</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon shezlong"></div>
                        <div class="menu-title">Шезлонги</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon nochniki"></div>
                        <div class="menu-title">Ночники</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon mamam"></div>
                        <div class="menu-title">Товары для мамы</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                </div>
                <div class="nav-borders">
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                </div>
                <div class="nav-column">
                    <div class="nav-column__block">
                        <div class="menu-icon chest"></div>
                        <div class="menu-title">Комоды пеленальные</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon kormlenye"></div>
                        <div class="menu-title">Стульчики для кормления</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon kacheli"></div>
                        <div class="menu-title">Качели детские</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon malishi"></div>
                        <div class="menu-title">Игрушки для малышей</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon garaj"></div>
                        <div class="menu-title">Детский гараж</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                </div>
                <div class="nav-borders">
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                </div>
                <div class="nav-column">
                    <div class="nav-column__block">
                        <div class="menu-icon for-toys"></div>
                        <div class="menu-title">Для хранения игрушек</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon vipiska"></div>
                        <div class="menu-title">Комплекты для выписки</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon kovrik"></div>
                        <div class="menu-title">Развивающие коврики</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon zamok"></div>
                        <div class="menu-title">Игровая комната</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon babytoy"></div>
                        <div class="menu-title">Мебель детская</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                </div>
                <div class="nav-borders">
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                    <div class="border-right"></div>
                </div>
                <div class="nav-column">
                    <div class="nav-column__block">
                        <div class="menu-icon grow"></div>
                        <div class="menu-title">Растущая мебель</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon sanki"></div>
                        <div class="menu-title">Санки, снегокаты</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon gorki"></div>
                        <div class="menu-title">Горки, домики, песочницы</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon basein"></div>
                        <div class="menu-title">Басейны детские</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                    <div class="nav-column__block">
                        <div class="menu-icon uhod"></div>
                        <div class="menu-title">Предметы ухода для малыша</div>
                        <div class="menu-go"><a href="#"></a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="nav-btn hide">
                <button id="toggle-nav">Развернуть</button>
            </div>
        </div>
    </div>
</header>