@media all {
  main {
    .content {
      .main-block {
        .container {
          .basket-content {
            display: block;
            max-width: 1065px;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 38px;
            .basket-products{
              margin: 16px auto 0;
              &__one {
                width: 1060px;
                height: 150px;
                border: 1px solid #d7d7d7;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fbfbfb;
                margin: 5px auto;
                .basket-dashed {
                  border: 1px dashed #d7d7d7;
                  max-width: 1050px;
                  width: 99%;
                  height: 144px;
                  display: flex;
                  position: relative;
                  .basket-product-img {
                    width: 160px;
                    height: 130px;
                    border: 1px solid #d7d7d7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 0 5px 5px;
                    img {
                      width: 135px;
                      height: 125px;
                    }
                  }
                  .basket-product-name {
                    font: normal 18px "helvetica medium";
                    color: #3d3d3d;
                    display: flex;
                    align-items: center;
                    margin-left: 40px;
                  }
                  .add-items {
                    display: flex;
                    align-items: center;
                    margin-left: 90px;
                  }
                  .basket-product-price {
                    font: normal 18px "helvetica medium";
                    color: #3d3d3d;
                    display: flex;
                    align-items: center;
                    margin-left: 84px;
                  }
                  .basket-product-delete {
                    color: #d7d7d7;
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    cursor: pointer;
                    &:hover {
                      color: #fabf3c;
                    }
                  }
                }
              }
            }
            .total-price {
              height: 90px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              &__promo {
                display: inline-block;
                input {
                  padding-left: 10px;
                  padding-right: 5px;
                  width: 480px;
                  color: #3d3d3d;
                  height: 35px;
                  border: 1px solid #d7d7d7;
                  font: normal 12px "helvetica roman";
                  outline: none;
                  box-sizing: border-box;
                  &::-webkit-input-placeholder {
                    color: #b6b6b6;
                  }
                  &:-moz-placeholder {
                    color: #b6b6b6;
                  }
                }
              }
              &__sum {
                display: inline-block;
                font: normal 36px "lobster regular";
                color: #3d3d3d;
              }
            }
            .delivery-options {
              padding-top: 27px;
              padding-bottom: 10px;
              display: flex;
              justify-content: flex-start;
              border-top: 1px dashed #d7d7d7;
              border-bottom: 1px dashed #d7d7d7;
              &__input-group {
                display: flex;
                flex-direction: column;
                .input-title {
                  font: normal 36px "lobster regular";
                  color: #3d3d3d;
                }
                input {
                  margin: 10px 0;
                  color: #3d3d3d;
                  font: normal 12px "helvetica roman";
                  border: 1px solid #d7d7d7;
                  box-sizing: border-box;
                  width: 480px;
                  height: 35px;
                  padding-left: 10px;
                  padding-right: 5px;
                  &:-moz-placeholder {
                    color: #b6b6b6;
                  }
                  &::-webkit-input-placeholder {
                    color: #b6b6b6;
                  }
                }
              }
              &__checkbox-group {
                margin-left: 81px;
                .checkbox-title {
                  font: normal 36px "lobster regular";
                  color: #3d3d3d;
                }
                .checkbox-one {
                  margin: 16px 0 16px 1px;
                  label {
                    font: normal 14px "helvetica roman";
                    color: #3d3d3d;
                  }
                }
              }
            }
            .checkout {
              margin-top: 18px;
              display: flex;
              justify-content: center;
              div {
                border: 1px solid #ce3a0b;
                background: linear-gradient(#f27222,#e74410);
                width: 200px;
                height: 43px;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                  width: 196px;
                  border: 1px dashed #fff;
                  height: 39px;
                  background: none;
                  font: normal 24px "lobster regular";
                  color: #fff;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}