@media all {
  .one-product {
    margin-top: 10px;
    border: 1px solid #d7d7d7;
    width: 220px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    .product-border {
      border: 1px dashed #d7d7d7;
      width: 214px;
      margin: 0 auto;
      height: 335px;
      .product-img {
        border: 1px solid #d7d7d7;
        width: 200px;
        box-sizing: border-box;
        margin: 9px auto 0;
        img {
          display: block;
          margin: 0 auto;
          width: 176px;
          height: 163px;
        }
      }
      .product-description {
        margin-top: 9px;
        .name {
          text-align: center;
          a {
            font: normal 14px "helvetica medium";
            color: #e44410;
            text-decoration: underline;
          }
        }
        .manufacturer {
          font: normal 12px "helvetica roman";
          color: #969595;
          text-align: center;
          margin-top: 8px;

        }
        .dashed-line {
          height: 2px;
          border-bottom: 2px dashed #d7d7d7;
          box-sizing: border-box;
          width: 200px;
          margin: 12px  auto 0;
        }
        .price {
          font: normal 22px "lobster regular";
          color: #3d3d3d;
          text-align: center;
          margin-top: 4px;
        }
      }
      .product-action {
        display: flex;
        justify-content: space-around;
        margin-top: 21px;
        margin-bottom: 14px;
        .add {
          border: 1px solid #ce3a0b;
          background: linear-gradient(#f27322, #e74410);
          width: 150px;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            border: 1px dashed #fff;
            font: normal 22px "lobster regular";
            text-decoration: none;
            color: #fff;
            height: 31px;
            display: inline-block;
            padding: 0 24px;
          }
        }
        .more-info {
          border: 1px solid #eda63e;
          background: linear-gradient(#fac93c, #faac3c);
          width: 50px;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            border: 1px dashed #fff;
            background: url("../img/png/more-info.png") center no-repeat;
            width: 18px;
            height: 28px;
            display: inline-block;
            box-sizing: border-box;
            padding: 15px 22px;
          }
        }
      }
    }
    .product-slider_hide {
      transition: all 0.5s ease 0.5s;
      position: relative;
      display: none;
      width: 100px;
      background: #fff;
      border: 1px solid #d7d7d7;
      border-right: none;
      height: 330px;
      .product-small {
        img {
          width: 80px;
          height: 60px;
          border: 1px solid #d7d7d7;
          margin: 0 auto;
        }
      }
      .slick-next {
        background: url("../img/png/slick-down.png") no-repeat;
        right: 20px;
      }
      .slick-prev {
        background: url("../img/png/slick-up.png") no-repeat;
        left: 20px;
      }
      button {
        font-size: 0;
        border: none;
        width: 25px;
        height: 25px;
        outline: none;
        position: absolute;
        bottom: 25px;
        z-index: 100;
      }
    }
  }
  .one-product:hover {
    border-left: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .product-slider_hide {
      transition: all 0.5s ease-out 0.5s;
      display: block;
      position: absolute;
      left: -100px;
      top:-1px;
      z-index: 1000;
      opacity: 1;
      animation: slick 1.5s ease-out 1;
    }
  }
  @keyframes slick {
    0% {opacity: 0;}
    90%{opacity: 0.5;}
    100%{opacity: 1;}
  }
  main {
    position: relative;
    top: -467px;
  }
  .content {
    .main-block {
      max-width: 1180px;
      width: 100%;
      margin: 0 auto;
      background: #fff;
      .container {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        .main-title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 28px;
          &__border {
            width: 100px;
            height: 6px;
            border-bottom: 6px solid #fac93c;
            margin: 0 20px;
          }
          &__head {
            font: normal 48px "lobster regular";
            color: #3d3d3d;
          }
        }
        .catalog-content {
          display: flex;
          justify-content: space-between;
          &__filter {
            width: 240px;
            background: #7ebd83;
            padding: 5px 0;
            margin-top: 17px;
            height: 100%;
            .filter-border {
              width: 228px;
              border: 1px dashed #fff;
              margin: 0 auto;
              .filter-category {
                background-color: #7ebd83;
                &__title {
                  height: 30px;
                  padding-top: 6px;
                  padding-left: 17px;
                  .sort-price {
                    font: normal 13px "helvetica bold";
                    color: #fff;
                  }
                  .sort-arrow {
                    background: url("../img/png/arrow-down.png") no-repeat;
                    width: 8px;
                    height: 5px;
                    display: inline-block;
                    transition: all 0.5s ease-out 0s;
                  }
                }
                &__detail {
                  background: #8bd291;
                  padding: 16px 0;
                  display: block;
                  #slider-range {
                    width: 200px;
                    margin: 0 auto;
                    height: 5px;
                    span {
                      width: 7px;
                      height: 20px;
                    }
                  }
                  p {
                    padding-top: 5px;
                    display: flex;
                    justify-content: space-around;
                    label {
                      font: normal 12px "helvetica bold";
                      color: #fff;
                    }
                    input {
                      width: 70px;
                      height: 20px;
                      background: none;
                      border: 1px solid #fff;
                      box-sizing: border-box;
                      font: normal 12px "helvetica bold";
                      color: #fff;
                      padding-left: 10px;
                      padding-right: 5px;
                    }
                  }
                  .app-btn {
                    border: 1px solid #eda63e;
                    background: linear-gradient(#fac73c, #fab03c);
                    font: normal 14px "helvetica bold";
                    color: #fff;
                    cursor: pointer;
                    outline: none;
                    margin: 0 auto;
                    width: 200px;
                    height: 30px;
                    text-align: center;
                    display: block;
                  }
                  .check-block {
                    position: relative;
                    margin-left: 14px;
                    margin-bottom: 8px;
                    .checkbox {
                      opacity: 0;
                      width: 12px;
                      height: 12px;
                    }
                    label {
                      font: normal 13px "helvetica roman";
                      color: #fff;
                      position: relative;
                      bottom: 3px;
                    }
                    span {
                      border: 1px solid #fff;
                      background: none;
                      width: 14px;
                      height: 14px;
                      position: relative;
                      display: inline-block;
                      left: -13px;
                    }
                    .checkbox:checked + span {
                      background: url("../img/png/checked.png") center no-repeat;
                    }
                  }
                  .product-type {
                    margin-left: 15px;
                    margin-bottom: 8px;
                    a {
                      color: #fff;
                      text-decoration: none;
                      font: normal 13px "helvetica bold";
                    }
                  }
                  .active {
                    a {
                      text-decoration: underline;
                    }
                  }
                }
              }
              .filter-clean {
                display: flex;
                justify-content: center;
                border-top: 1px dashed #fff;
                width: 200px;
                margin: 10px auto 0;
                button{
                  margin-top: 10px;
                  margin-bottom: 10px;
                  border: 1px solid #eda63e;
                  background-color: #fabb3c;
                  text-align: center;
                  font: normal 14px "helvetica bold";
                  color: #fff;
                  width: 200px;
                  padding: 10px 0;
                }
              }
            }
          }
          &__container {
            max-width: 910px;
            width: 100%;
            .display-filter {
              border: 2px solid #7dc181;
              background-color: #82cc8a;
              max-width: 910px;
              width: 100%;
              height: 50px;
              box-sizing: border-box;
              margin-top: 17px;
              .white-border {
                font: normal 12px "helvetica roman";
                color: #fff;
                border: 1px dashed #fff;
                height: 44px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a {
                  text-decoration: underline;
                  color: #fff;
                }
                .display-type {
                  margin-left: 22px;
                  a {
                    margin-left: 14px;
                  }
                }
                .display-numbers {
                  margin-left: 44px;
                  a {
                    margin-left: 13px;
                  }
                }
                .disp-active {
                  text-decoration: none;
                }
                .display-count {
                  margin-left: 359px;
                  span:last-child {
                    margin-left: 3px;
                  }
                }
              }
            }
            .display-content {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              /*slick enter here*/
            }
            .page-select {
              display: flex;
              justify-content: center;
              div {
                border: 1px solid #faae3c;
                background: linear-gradient(#fac83c,#faaf3c);
                margin: 30px  6px 40px 6px;
                a {
                  font: normal 18px "helvetica bold";
                  color: #fff;
                  text-decoration: none;
                  border: 1px dashed #fff;
                }
              }
              .big {
                border-radius: 20px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1px;
                a {
                  border-radius: 20px;
                  height: 36px;
                  text-align: center;
                  line-height: 35px;
                  padding: 0 15px;
                }
              }
              .page-btn {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                  border-radius: 50%;
                  width: 36px;
                  height: 36px;
                  text-align: center;
                  line-height: 35px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content {
    .main-block {
      .container {
        .main-content {
          &__container {
            .display-filter {
              .white-border {
                .display-type {
                  margin-left: 10px;
                  a {
                    margin-left: 7px;
                  }
                }
                .display-numbers {
                  margin-left: 30px;
                  a {
                    margin-left: 7px;
                  }
                }
                .display-count {
                  margin-left: 150px;
                }
              }
            }
            .display-content {
              justify-content: space-around;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    .main-block {
      .container {
        .catalog-content {
          flex-direction: column-reverse;
          .catalog-content__container {
            margin: 0 auto;
            .display-filter {
              .white-border {
                .display-type {
                  margin-left: 10px;
                  a {
                    margin-left: 7px;
                  }
                }
                .display-numbers {
                  margin-left: 30px;
                  a {
                    margin-left: 7px;
                  }
                }
                .display-count {
                  margin-left: 40px;
                }
              }
            }
            .page-select {
              flex-wrap: wrap;
            }
          }
          .catalog-content__filter {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .content {
    .main-block {
      .container {
        .main-title {
          padding-top: 50px;
          margin-top: 0;
        }
        .main-content {
          flex-wrap: wrap;
          justify-content: center;
          &__container {
            .display-filter {
              .white-border {
                .display-type {
                  width: 120px;
                  text-align: center;
                  line-height: 19px;
                }
                .display-numbers {
                  width: 110px;
                  text-align: center;
                  line-height: 19px;
                }
                .display-count {
                  margin-left: 25px;
                }
              }
            }
            .page-select {
              .page-btn {
                width: 30px;
                height: 30px;
                a {
                  width: 28px;
                  height: 28px;
                  line-height: 28px;
                }
              }
              .big {
                height: 30px;
                a {
                  height: 28px;
                  font-size: 12px;
                  line-height: 30px;
                }
              }
            }
            .display-content {
              .one-product:hover {
                border-left: 1px solid #d7d7d7;
                .product-slider_hide {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .content {
    .main-block {
      .container {
        .main-content {
          &__container {
            .page-select {
              flex-wrap: wrap;
              div {
                margin: 10px 20px 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .content {
    .main-block {
      .container {
        .main-content {
          &__container {
            .display-filter {
              .white-border {
                .display-type {
                  line-height: 13px;
                }
                .display-numbers {
                  line-height: 13px;
                  a {
                    margin-left: 5px;
                  }
                }
              }
            }
            .page-select {
              div {
                margin: 10px 3px;
              }
            }
          }
        }
      }
    }
  }
}