@media all {
  main {
    .add-items {
      display: flex;
      .plus-item {
        margin-left: 11px;
      }
      a {
        border: 1px solid #faae3c;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: linear-gradient(#fac93f,#fab03c);
        border-radius: 50%;
        cursor: pointer;
        i {
          width: 38px;
          height: 38px;
          border: 1px dashed #fff;
          color: #fff;
          text-decoration: none;
          border-radius: 50%;
          font-size: 25px;
          text-align: center;
          line-height: 40px;
        }
      }
      .cur-item {
        margin-left: 7px;
        border: 2px solid #d7d7d7;
        width: 120px;
        height: 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        text-align: center;
        font: normal 18px "helvetica bold";
        color: #3d3d3d;
        line-height: 31px;
        i {
          border: 1px dashed #d7d7d7;
          width: 110px;
          height: 30px;
          border-radius: 20px;
        }
      }
    }
    .content {
      .main-block {
        .container {
          .commodity-content {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            .img-block {
              max-width: 592px;
              width: 100%;
              margin-top: 45px;
              margin-left: 9px;
              box-sizing: border-box;
              span {
                display: block;
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2000;
                &:hover {
                  background: url("../img/png/search-commodity.png") center no-repeat rgba(215, 215, 215,0.8);
                }
              }
              .big-one {
                border: 1px solid #d7d7d7;
                max-width: 590px;
                width: 100%;
                height: 370px;
                box-sizing: border-box;
                .some-img{
                  position: relative;
                  a {
                    img {
                      z-index: 500;
                      margin: 0 auto;
                      display: block;
                      position: relative;
                      max-width: 395px;
                      width: 100%;
                    }
                  }
                }
              }
              .small-many {
                display: flex;
                justify-content: space-between;
                margin-top: 9px;
                .some-img-small {
                  position: relative;
                  a {
                    border: 1px solid #d7d7d7;
                    width: 140px;
                    height: 100px;
                    display: block;
                    img {
                      width: 107px;
                      height: 100px;
                      margin: 0 auto;
                      display: block;
                      position: relative;
                      z-index: 100;
                    }
                  }
                }
              }
            }
            .info-block {
              max-width: 520px;
              width: 100%;
              margin-top: 37px;
              &__name {
                h3 {
                  margin: 0;
                  font: normal 36px "lobster regular";
                  color: #3d3d3d;
                }
              }
              &__availability {
                margin-top: 17px;
                span {
                  font: normal 18px "helvetica roman";
                  color: #b6b6b6;
                }
              }
              &__price {
                margin-top: 14px;
                color: #3d3d3d;
                font: normal 24px "lobster regular";
                span:last-child {
                  font-size: 36px;
                }
              }
              &__bay-block {
                display: flex;
                margin-top: 36px;

                .items-buy {
                  margin-left: 39px;
                  border: 1px solid #ce3a0b;
                  background: linear-gradient(#f27222,#e64410);
                  height: 45px;
                  width: 190px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  box-sizing: border-box;
                  a {
                    border: 1px dashed #fff;
                    width: 180px;
                    height: 35px;
                    text-decoration: none;
                    font: normal 24px "lobster regular";
                    color: #fff;
                    text-align: center;
                  }
                }
              }
              &__additional-info {
                margin-top: 34px;
                .title-block {
                  font: normal 18px "helvetica roman";
                  color: #b6b6b6;
                }
                table {
                  margin-top: 17px;
                  border-collapse: collapse;
                  color: #3d3d3d;
                  th, td {
                    border: 1px solid #d7d7d7;
                    padding-left: 9px;
                  }
                  th {
                    background: #f2f2f2;
                    font: normal 14px "helvetica medium";
                    text-align: left;
                    &:first-child {
                      width: 306px;
                    }
                    &:last-child {
                      width: 189px;
                    }
                  }
                  td {
                    font: normal 13px "helvetica roman";
                    &:first-child {
                      width: 310px;
                    }
                    &:last-child {
                      width: 200px;
                    }
                  }
                }
              }
            }
            .description-block {
              max-width: 590px;
              width: 100%;
              margin-left: 20px;
              margin-top: 30px;
              &__title {
                font: normal 36px "lobster regular";
                color: #3d3d3d;
              }
              &__text {
                font: normal 18px "helvetica roman";
                color: #969595;
                margin-top: 10px;
                line-height: 24px;
                margin-bottom: 31px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  main {
    .content {
      .main-block {
        .container {
          .commodity-content {
            justify-content: center;
            .img-block {
              order: 2;
            }
            .description-block {
              order: 3;
            }
            .info-block {
              order: 1;
              &__bay-block {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 690px){
  main {
    .content {
      .main-block {
        .container {
          .commodity-content {
            .img-block {
              margin-left: 0;
              .small-many {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
              }
            }
            .description-block {
              margin-left: 0;
              width: 95%;
              text-align: justify;
            }
            .info-block {
              &__bay-block {
                flex-direction: column;
                align-items: center;
                .items-buy {
                  margin-left: 0;
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}