@font-face {
  font-family:"graceful mazurka";
  src: url("../fonts/graceful_mazurka.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"lobster regular";
  src: url("../fonts/lobsterRegular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"helvetica light";
  src: url("../fonts/HelveticaNeueCyr-Light.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"helvetica roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"helvetica bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"helvetica medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}