@media all {
  body {
    background: url('../img/jpg/main-bg.jpg') no-repeat;
    background-size: cover;
    height: auto;
  }
  .content {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .main-block {
      .container {
        position: relative;
        .previous-page {
          position: absolute;
          top: 11px;
          right: 11px;
          letter-spacing: 0.4px;
          a {
            text-decoration: underline;
            font: normal 12px "helvetica medium";
            color: #7dc181;
          }
        }
      }
    }
  }
  .active {
    text-decoration: underline !important;
  }
  header {
    .header-content {
      max-width: 1180px;
      width: 100%;
      margin: 0 auto;
      &__info {
        background: url('../img/jpg/header-jpg.jpg') no-repeat;
        height: 298px;
        .info-top {
          display: flex;
          justify-content: flex-start;
          position: relative;
          .callback {
            background: url('../img/png/cloud-1.png') no-repeat;
            height: 107px;
            width: 216px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 69px;
            margin-left: 14px;
            position: relative;
            &__icon {
              background: url('../img/png/call-back.png') no-repeat;
              width: 24px;
              height: 31px;
              margin: 0 auto;
            }
            &__text {
              text-align: center;
              position: relative;
              top: 8px;
              a {
                font: normal 18px "lobster regular";
                color: #fdcd44;
                text-decoration: underline;
              }
            }
          }
          .phone-numbers {
            margin-left: 216px;
            margin-top: 16px;
            background: url("../img/png/cloud-2.png") no-repeat;
            width: 280px;
            height: 138px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            font: normal 16px "lobster regular";
            &__icon {
              margin: 0 auto;
              background: url("../img/png/phone.png") no-repeat;
              width: 14px;
              height: 22px;
              font-size: 20px;
              padding-left: 20px;
              padding-right: 84px;
            }
            &__text {
              display: flex;
              justify-content: center;
              position: relative;
              top: 10px;
              line-height: 20px;
              right: 9px;
              .city-code {
                margin-left: 15px;
              }
              .bracket {
                background: url("../img/png/bracket.png") no-repeat;
                width: 10px;
                height: 60px;
                margin-left: 5px;
              }
              .number {
                margin: auto 0;
                font-size: 20px;
                position: relative;
                left: 8px;
              }
            }
          }
          .purch-block-fixed {
            position: relative;
            margin-left: 66px;
            margin-top: 50px;
            .purchases {
              background: url("../img/png/purchases.png") no-repeat;
              width: 83px;
              height: 73px;
              position: fixed;
              z-index: 99999;
              .purchases-count {
                position: absolute;
                background-color: #fac017;
                border-radius: 50%;
                right: -30px;
                top: 0;
                width: 29px;
                height: 29px;
                border: 1px solid #f1aa47;
                display: flex;
                justify-content: center;
                align-items: center;
                .purchases-border {
                  border: 1px dashed #fff;
                  width: 27px;
                  height: 27px;
                  border-radius: 50%;
                  font: normal 12px "helvetica roman";
                  color: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
          .work-time {
            margin-left: 130px;
            margin-top: 49px;
            background: url("../img/png/cloud-3.png") no-repeat;
            width: 238px;
            height: 118px;
            display: flex;
            flex-direction: column;
            font: normal 18px "lobster regular";
            color: #fff;
            &__icon {
              background: url("../img/png/clock.png") no-repeat;
              width: 26px;
              height: 27px;
              padding-left: 22px;
              margin: 18px auto 0;
            }
            &__title {
              margin: 6px auto 0;
            }
            &__text {
              margin: 6px auto 0;
            }
          }
        }
        .info-bottom {
          position: relative;
          display: flex;
          justify-content: space-between;
          .shares {
            background: linear-gradient(#f27222, #e74410);
            width: 170px;
            height: 40px;
            text-decoration: underline;
            color: #fff;
            border: 1px solid #ce3a0a;
            text-align: center;
            margin-top: 33px;
            margin-left: 39px;
            letter-spacing: -0.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              display: block;
              border: 1px dashed #fff;
              line-height: 37px;
              height: 38px;
              width: 168px;
            }
          }
          .mother-child {
            background: url("../img/png/mother.png") no-repeat;
            width: 185px;
            height: 201px;
            position: absolute;
            bottom: -20px;
            left: 249px;
            z-index: 10;
          }
          .shop-name {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            background-color: #fff;
            border-radius: 10px;
            width: 340px;
            height: 100px;
            z-index: 8;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 111px;
            margin-top: 2px;
            .border {
              border: 1px dashed #d0d0d0;
              border-radius: 10px;
              width: 330px;
              height: 90px;
              .shop-name__title {
                font: normal 52px "graceful mazurka";
                text-align: center;
                letter-spacing: 0;
                .red {
                  color: #ee3e3c;
                }
                .yellow {
                  color: #f5ab44;
                }
                .green {
                  color: #83c95b;
                }
                .blue {
                  color: #4c96e8;
                }
                .violet {
                  color: #ab4edb;
                }
              }
              .shop-name__description {
                position: relative;
                bottom: 11px;
                font: normal 18px "lobster regular";
                color: #3d3d3d;
                text-align: center;
              }
            }
          }
          .site-search {
            background: url("../img/png/input-search.png") no-repeat;
            height: 66px;
            width: 326px;
            position: relative;
            right: -13px;
            margin-top: 24px;
            input {
              border: none;
              outline: none;
              background: none;
              margin-top: 20px;
              margin-left: 80px;
              color: #fff;
              font: normal 13px "helvetica light";
              width: 200px;
              padding-right: 10px;
            }
            input:-ms-input-placeholder {
              color: #fff;
              font: normal 13px "helvetica light";
            }
            input:-moz-placeholder {
              color: #fff;
              font: normal 13px "helvetica light";
            }
            input::-webkit-input-placeholder {
              color: #fff;
              font: normal 13px "helvetica light";
            }
          }
        }
      }
    }
    .header-nav {
      background: url("../img/png/header-nav.png") no-repeat;
      height: 67px;
      max-width: 1210px;
      width: 100%;
      z-index: 150;
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding-top: 13px;
        li {
          display: inline-block;
          padding: 0 20px;
          &:hover {
            text-decoration: underline;
          }
          a {
            color: #fff;
            text-decoration: none;
            font: normal 18px "lobster regular";
          }
        }
        li:nth-child(even) {
          background: url("../img/png/dot-nav.png") center no-repeat;
          height: 6px;
          width: 6px;
          margin: auto 0;
        }
      }
    }
    .nav-block {
      position: relative;
      top: -17px;
      overflow: hidden;
      .show {
        top: 0;
        position: relative;
        transition: top 1s ease-out 0.5s;
      }
      .hide {
        top: -405px;
        position: relative;
        transition: top 1s ease-out 0.5s;
      }
      .nav-detail {
        z-index: 6000;
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        border: 2px solid #e44410;
        background: #de652c;
        height: 405px;
        box-sizing: border-box;
        display: flex;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        .nav-column {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          &__block {
            width: 180px;
            height: 75px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed #fff;
            position: relative;
            margin-top: 3px;
            &:last-child {
              border-bottom: 0;
            }
            .menu-icon {
              width: 57px;
            }
            .menu-title {
              font: normal 12px "helvetica roman";
              color: #fff;
              width: 110px;
              padding-top: 16px;
            }
            .menu-go {
              display: flex;
              align-items: flex-end;
              position: absolute;
              bottom: 3px;
              right: 9px;
              a {
                background: url("../img/png/nav icons/right-arrow.png") no-repeat;
                width: 21px;
                display: block;
                height: 21px;
              }
            }
            .seat {
              background: url("../img/png/nav icons/seat.png") center no-repeat;
              width: 57px;
            }
            .crovat-manej {
              background: url("../img/png/nav icons/crovat-manej.png") center no-repeat;
            }
            .prigunki {
              background: url("../img/png/nav icons/prigunki.png") center no-repeat;
            }
            .razv-center {
              background: url("../img/png/nav icons/razv-center.png") center no-repeat;
            }
            .lego {
              background: url("../img/png/nav icons/lego.png") center no-repeat;
            }
            .stollers {
              background: url("../img/png/nav icons/stollers.png") center no-repeat;
            }
            .matrasiki {
              background: url("../img/png/nav icons/matrasiki.png") center no-repeat;
            }
            .hodunki {
              background: url("../img/png/nav icons/hodunki.png") center no-repeat;
            }
            .carous {
              background: url("../img/png/nav icons/carousel.png") center no-repeat;
            }
            .board-games {
              background: url("../img/png/nav icons/board-games.png") center no-repeat;
            }
            .bed {
              background: url("../img/png/nav icons/bed.png") center no-repeat;
            }
            .postel {
              background: url("../img/png/nav icons/postel.png") center no-repeat;
            }
            .shezlong {
              background: url("../img/png/nav icons/shezlong.png") center no-repeat;
            }
            .nochniki {
              background: url("../img/png/nav icons/nochniki.png") center no-repeat;
            }
            .mamam {
              background: url("../img/png/nav icons/mamam.png") center no-repeat;
            }
            .chest {
              background: url("../img/png/nav icons/chest.png") center no-repeat;
            }
            .kormlenye {
              background: url("../img/png/nav icons/kormlenye.png") center no-repeat;
            }
            .kacheli {
              background: url("../img/png/nav icons/kacheli.png") center no-repeat;
            }
            .malishi {
              background: url("../img/png/nav icons/malishi.png") center no-repeat;
            }
            .garaj {
              background: url("../img/png/nav icons/garaj.png") center no-repeat;
            }
            .for-toys {
              background: url("../img/png/nav icons/for-toys.png") center no-repeat;
            }
            .vipiska {
              background: url("../img/png/nav icons/vipiska.png") center no-repeat;
            }
            .kovrik {
              background: url("../img/png/nav icons/kovrik.png") center no-repeat;
            }
            .zamok {
              background: url("../img/png/nav icons/zamok.png") center no-repeat;
            }
            .babytoy {
              background: url("../img/png/nav icons/babytoy.png") center no-repeat;
            }
            .grow {
              background: url("../img/png/nav icons/grow.png") center no-repeat;
            }
            .sanki {
              background: url("../img/png/nav icons/sanki.png") center no-repeat;
            }
            .gorki {
              background: url("../img/png/nav icons/gorki.png") center no-repeat;
            }
            .basein {
              background: url("../img/png/nav icons/basein.png") center no-repeat;
            }
            .uhod {
              background: url("../img/png/nav icons/uhod.png") center no-repeat;
            }
          }
        }
        .nav-borders {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .border-right {
            width: 1px;
            border-left: 1px dashed #fff;
            height: 68px;
            margin-left: 4px;
            margin-right: 4px;
          }
        }
        .nav-cont {
          display: flex;
          margin: 0 auto;
        }
      }
      .nav-btn {
        display: flex;
        justify-content: center;
        button {
          border: none;
          background: url("../img/png/nav icons/btn-togle.png") no-repeat;
          width: 237px;
          height: 45px;
          outline: none;
          cursor: pointer;
          font: normal 24px "lobster regular";
          color: #fff;
          text-align: center;
          z-index: 1000;
        }
      }
    }
  }
  main {
    .page-path {
      padding-top: 12px;
      padding-left: 10px;
      a {
        text-decoration: none;
        font: normal 12px "helvetica roman";
        color: #b6b6b6;
        display: inline-block;
      }
      a::after {
        content: " > ";
        display: inline-block;
        padding: 0 5px;
      }
      a:last-child::after {
        content: "";
      }
    }
    transition: top 1s ease-out 0.5s;
    position: relative;
    /*top: -45px;*/
    z-index: 100;
    .content {
      .index-block {
        position: relative;
        padding-bottom: 43px;
        .main-slider {
          position: relative;
          .slick-next {
            background: url("../img/png/big-slider-right.png") no-repeat;
            right: 41px;
          }
          .slick-prev {
            background: url("../img/png/big-slider-left.png") no-repeat;
            left: 41px;
          }
          button {
            width: 50px;
            height: 50px;
            border: none;
            outline: none;
            position: absolute;
            top: 50%;
            margin-top: -35px;
            font-size: 0;
            z-index: 999;
          }
          &__slide {
            position: relative;
            max-width: 1180px;
            width: 100%;
            height: 360px;
            h2 {
              position: absolute;
              text-align: center;
              color: #fff;
              font: normal 60px "lobster regular";
              z-index: 1000;
              width: 730px;
              margin: 100px 0 0 225px;
              line-height: 56px;
            }
            img {
              position: relative;
              z-index: 100;
            }
          }
        }
        .container {
          .index-title {
            margin-top: 15px;
          }
          .main-content {
            .hits {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
            }
          }
        }
      }
      .news-discount {
        &__title {
          background: url("../img/png/header-nav.png") no-repeat;
          width: 1210px;
          height: 67px;
          a {
            color: #fff;
            text-decoration: none;
            font: normal 24px "lobster regular";
            display: inline-block;
            margin-top: 10px;
            &:before, &:after {
              content: '';
              background: url("../img/png/dot-nav.png") no-repeat;
              width: 6px;
              height: 6px;
              display: inline-block;
              margin: 5px 20px;
            }
            &:first-child {
              margin-left: 147px;
            }
            &:last-child {
              margin-left: 348px;
            }
          }
        }
        &__content {
          display: flex;
          background: url("../img/jpg/index-bg.jpg") no-repeat;
          max-width: 1180px;
          width: 100%;
          margin: -17px auto 0;
          height: 485px;
          .news-group {
            display: flex;
            flex-direction: column;
            .small-news {
              margin-left: 39px;
              margin-bottom: 12px;
              &:first-child {
                margin-top: 20px;
              }
              .news-name {
                width: 360px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                h5 {
                  border: 1px dashed #fff;
                  width: 354px;
                  height: 44px;
                  margin: 0;
                  font: normal 14px "helvetica bold";
                  color: #fff;
                  text-align: center;
                  line-height: 40px;
                }
              }
              .news-text {
                width: 360px;
                height: 85px;
                box-sizing: border-box;
                border: 1px solid #d7d7d7;
                border-top: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font: normal 13px "helvetica roman";
                color: #969595;
                background: #fff;
                span {
                  border: 1px dashed #d7d7d7;
                  width: 354px;
                  height: 79px;
                  padding: 0 5px;
                  img {
                    width: 56px;
                    height: 56px;
                    float: left;
                    margin: 10px;
                  }
                  p {
                    letter-spacing: -1px;
                    text-align: justify;
                    margin-bottom: 9px;
                    margin-top: 7px;
                  }
                  a {
                    text-decoration: underline;
                    color: #f26f20;
                    font: normal 13px "helvetica roman";
                    display: block;
                    text-align: right;
                    padding-right: 11px;
                  }
                }
              }
              .green-name {
                background: linear-gradient(#8fd392,#80c581);
              }
              .yellow-name {
                background: linear-gradient(#facc41,#edb105);
              }
              .blue-name {
                background: linear-gradient(#92c7fd,#72a8e5);
              }
            }
          }
          .discounted-products {
            margin-right: 10px;
            .discounted-slider {
              margin-top: 21px;
              position: relative;
              width: 720px;
              height: 340px;
              float: right;
              margin-bottom: 17px;
              button {
                border: none;
                position: absolute;
                top: 369px;
                width: 40px;
                height: 40px;
                font-size: 0;
                z-index: 9999;
                outline: none;
              }
              .slick-next {
                right: 320px;
                background: url("../img/png/discounted-next.png") no-repeat;
              }
              .slick-prev {
                left: 310px;
                background: url("../img/png/discounted-prev.png") no-repeat;
              }
              .one-product {
                margin: 0 5px;
              }
            }
            .slider-btn {
              margin-left: 55px;
              border: 1px solid #d7d7d7;
              width: 710px;
              height: 65px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #fff;
              box-sizing: border-box;
              .grey-border {
                border: 1px dashed #d7d7d7;
                width: 704px;
                height: 59px;
              }
            }
          }
        }
      }
    }

  }
  footer {
    box-sizing: border-box;
    transition: top 1s ease-out 0.5s;
    max-width: 1180px;
    width: 100%;
    border: 1px solid #eca909;
    height: 265px;
    background: linear-gradient(#facc41,#eca909);
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: -467px;
    margin-bottom: 25px;
    .footer-content {
      border: 1px dashed #fff;
      height: 227px;
      position: relative;
      &__title {
        text-align: center;
        margin-top: 28px;
        h3 {
          font: normal 52px "graceful mazurka";
          margin: 0;
        }
        div {
          font: normal 18px "lobster regular";
          position: relative;
          top: -13px;
        }
      }
      &__nav {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        ul {
          list-style: none;
          display: flex;
          justify-content: center;
          margin: 0;
          li {
            display: inline-block;
            padding: 0 10px;
            &:hover {
              text-decoration: underline;
            }
            a {
              color: #fff;
              text-decoration: none;
              font: normal 18px "lobster regular";
            }
          }
          li:nth-child(even) {
            background: url("../img/png/dot-nav.png") center no-repeat;
            height: 6px;
            width: 6px;
            margin: auto 0;
          }
        }
        .footer-callback {
          color: #fff;
          text-decoration: underline;
          font: normal 16px "lobster regular";
          position: relative;
          left: 104px;
        }
      }
      &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
        span {
          font: normal 12px "helvetica medium";
        }
        a {
          display: inline-block;
          margin-left: 23px;
        }
        .odnokl {
          background: url("../img/png/social-odnokl.png") center no-repeat;
          width: 12px;
          height: 19px;
        }
        .tweet {
          background: url("../img/png/social-tweet.png") center no-repeat;
          width: 17px;
          height: 14px;
        }
        .vk {
          background: url("../img/png/social-vk.png") center no-repeat;
          width: 20px;
          height: 13px;
        }
        .fb {
          background: url("../img/png/social-fb.png") center no-repeat;
          width: 10px;
          height: 18px;
        }
      }
      &__baby {
        background: url("../img/png/baby.png") center no-repeat;
        width: 118px;
        height: 151px;
        position: absolute;
        left: 63px;
        top: 84px;
      }
    }
    .footer-copyright {
      text-align: center;
      font: normal 11px "helvetica roman";
      margin-top: 12px;
    }
  }
  #toTop {
    width: 50px;
    height: 50px;
    position: fixed;
    display: block;
    background: url("../img/png/toTop.png") center 15px no-repeat #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font: normal 12px "helvetica bold";
    color: #fac93c;
    line-height: 75px;
    text-align: center;
    z-index: 9999;
    bottom: 40px;
    left: 85px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1220px){
  header {
    .content {
      .header-content {
        &__info {
          .info-top {
            max-width: 1024px;
            width: 100%;
            margin: 0 auto;
            .callback {
              background-size: contain;
              margin-top: 20px;
              width: 165px;
              height: 80px;
              &__icon {
                background-size: contain;
                width: 20px;
              }
              &__text {
                top: 0;
                a {
                  font-size: 14px;
                }
              }
            }
            .phone-numbers {
              background-size: contain;
              width: 255px;
              margin-left: 110px;
              height: 125px;
              &__icon {
                font-size: 16px;
                padding-right: 90px;
              }
              &__text {
                top: 4px;
                right: 5px;
                .city-code {
                  font-size: 14px;
                  margin-left: 0;
                }
                .number {
                  font-size: 16px;
                }
              }
            }
            .purch-block-fixed {
              margin-left: 0;
              margin-top: 20px;
            }
            .work-time {
              margin-top: 35px;
              font-size: 16px;
              margin-left: 190px;
            }
          }
          .info-bottom {
            max-width: 1024px;
            width: 100%;
            margin: 0 auto;
            .shares {
              margin-top: 40px;
              margin-left: 10px;
            }
            .mother-child {
              width: 155px;
              bottom: -76px;
              left: 189px;
              background-size: contain;
            }
            .shop-name {
              margin-left: 55px;
            }
            .site-search {
              max-width: 230px;
              right: 0;
              input {
                width: 150px;
                margin-left: 68px;
              }
            }
          }
        }
      }
      .header-nav {
        height: 65px;
        background-size: auto;
        ul {
          justify-content: space-around;
          padding-top: 12px;
          li {
            padding: 0 6px;
          }
        }
      }
      .nav-block {
        .nav-detail {
          .nav-cont {
            .nav-column {
              &__block {
                width: 160px;
                .menu-icon {
                  background-size: contain;
                  width: 45px;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-content {
      &__nav {
        display: block;
        .footer-callback{
          left: 0;
          display: flex;
          justify-content: center;
          top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px){
  header {
    .content {
      .header-content {
        &__info {
          .info-top {
            max-width: 768px;
            width: 100%;
            margin: 0 auto;
            .callback {
              background-size: contain;
              margin-top: 20px;
              width: 165px;
              height: 80px;
              &__icon {
                background-size: contain;
                width: 20px;
              }
              &__text {
                top: 0;
                a {
                  font-size: 14px;
                }
              }
            }
            .phone-numbers {
              background-size: contain;
              width: 255px;
              margin-left: 0;
              height: 125px;
              &__icon {
                font-size: 16px;
                padding-right: 90px;
              }
              &__text {
                top: 4px;
                right: 5px;
                .city-code {
                  font-size: 14px;
                  margin-left: 0;
                }
                .number {
                  font-size: 16px;
                }
              }
            }
            .purch-block-fixed {
              margin-left: 0;
              margin-top: 20px;
            }
            .work-time {
              margin-top: 35px;
              font-size: 16px;
              margin-left: 88px;
            }
          }
          .info-bottom {
            max-width: 768px;
            width: 100%;
            margin: 0 auto;
            .shares {
              margin-top: 40px;
              margin-left: 10px;
            }
            .mother-child {
              width: 110px;
              bottom: -126px;
              left: 189px;
              background-size: contain;
            }
            .shop-name {
              width: 250px;
              margin-left: 90px;
              .border {
                width: 244px;
                .shop-name__title {
                  font-size: 40px;
                  bottom: 0;
                }
                .shop-name__description {
                  font-size: 14px;
                  bottom: 0;
                }
              }
            }
            .site-search {
              max-width: 230px;
              right: 0;
              input {
                width: 150px;
                margin-left: 68px;
              }
            }
          }
        }
      }
      .header-nav {
        height: 65px;
        background-size: auto;
        ul {
          justify-content: space-around;
          padding-top: 12px;
          li {
            padding: 0 6px;
          }
        }
      }
      .nav-block {
        .nav-detail {
          .nav-cont {
            .nav-column {
              &__block {
                width: 160px;
                .menu-icon {
                  background-size: contain;
                  width: 45px;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-content {
      &__baby {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px){
  header {
    .content {
      .header-content {
        &__info {
          .info-top {
            .callback {
              background-size: contain;
              margin-top: 20px;
              width: 165px;
              height: 80px;
              &__icon {
                background-size: contain;
                width: 20px;
              }
              &__text {
                top: 0;
                a {
                  font-size: 14px;
                }
              }
            }
            .phone-numbers {
              background-size: contain;
              width: 255px;
              margin-left: 0;
              height: 125px;
              &__icon {
                font-size: 16px;
                padding-right: 90px;
              }
              &__text {
                top: 4px;
                right: 5px;
                .city-code {
                  font-size: 14px;
                  margin-left: 0;
                }
                .number {
                  font-size: 16px;
                }
              }
            }
            .purch-block-fixed {
              margin-left: 0;
              margin-top: 20px;
            }
            .work-time {
              margin-top: 35px;
              font-size: 16px;
            }
          }
          .info-bottom {
            .shares {
              margin-top: 40px;
              margin-left: 10px;
            }
            .mother-child {
              width: 110px;
              bottom: -126px;
              left: 189px;
            }
            .shop-name {
              width: 250px;
              margin-left: 90px;
              .border {
                width: 244px;
                .shop-name__title {
                  font-size: 40px;
                  bottom: 0;
                }
                .shop-name__description {
                  font-size: 14px;
                  bottom: 0;
                }
              }
            }
            .site-search {
              max-width: 230px;
              right: 0;
              input {
                width: 150px;
                margin-left: 68px;
              }
            }
          }
        }
      }
      .header-nav {
        height: 67px;
        ul {
          li {
            padding: 0 6px;
          }
        }
      }
      .nav-block {
        .nav-detail {
          .nav-cont {
            .nav-column {
              &__block {
                width: 115px;
                .menu-icon {
                  background-size: contain;
                  width: 45px;
                }
                .menu-title {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-content {
      &__baby {
        left: 150px;
        top: 0;
        width: 70px;
      }
      &__nav {
        ul {
          li {
            padding: 0 8px;
          }
        }
        .footer-callback{

        }
      }
    }
  }
  #toTop {
    bottom: 30px;
    left: 40px;
  }
}

@media screen and (max-width: 760px){
  header {
    .content {
      .header-content {
        &__info {
          .info-top {
            display: block;
            max-width: 425px;
            width: 100%;
            .callback {
              background: none;
              width: 150px;
              display: inline-block;
              margin-left: 35px;
              &__icon {
                display: none;
              }
              &__text {
                border: 1px solid #ce3a0a;
                background: linear-gradient(#f27021,#e84410);
                height: 50px;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                  border: 1px dashed #fff;
                  width: 146px;
                  height: 46px;
                  line-height: 40px;
                  color: #fff;
                }
              }
            }
            .phone-numbers {
              display: inline-flex;
              width: 165px;
              top: 0;
              left: 0;
              right: 0;
              height: 70px;
              border: 1px solid #ce3a0a;
              background: linear-gradient(#f27021,#e84410);
              vertical-align: top;
              margin-top: 20px;
              margin-right: 35px;
              float: right;
              &__icon {
                display: none;
              }
              &__text {
                color: #fff;
                width: 165px;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                .city-code {
                }
                .bracket {
                  color: #ce3a0a;
                }
                .number {
                  font-size: 16px;
                }
              }
            }
            .purch-block-fixed {
              width: 80px;
              height: 70px;
              margin-left: 5px;
              margin-top: 0;
              display: inline-flex;
              .purchases {
                background-size: contain;
                width: 65px;
              }
            }
            .work-time {
              display: none;
              &__icon {
                display: none;
              }
              &__text {
                text-align: center;
                font-size: 15px;
              }
            }
          }
          .info-bottom {
            max-width: 425px;
            width: 100%;
            flex-wrap: wrap;
            height: 125px;
            .shares {
              display: none;
            }
            .mother-child {
              display: none;
            }
            .shop-name {
              display: block;
              margin: 0 auto;
              bottom: 30px;
              position: relative;
              .border {
                .shop-name__title {
                }
                .shop-name__description {
                }
              }
            }
            .site-search {
              display: block;
              bottom: 0;
              left: 0;
              right: 0;
              margin: 0 auto;
              background-size: 245px 48px;
              position: relative;
              top: -28px;
              input {
                width: 150px;
                margin-left: 50px;
                margin-top: 12px;
              }
            }
          }
        }
      }
      .header-nav {
        box-sizing: border-box;
        background-size: 425px 60px;
        height: 60px;
        background: linear-gradient(#facb3f,#edb104);
        border: 1px solid #ecbc24;
        ul {
          padding-top: 3px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding-left: 0;
          justify-content: space-around;
          li {
            padding: 0 26px;
            a {
              font-size: 14px;
            }
          }
          li:nth-child(even) {
            display: none;
          }
        }
      }
      .nav-block {
        .nav-detail {
          .nav-cont {
            .nav-column {
              &__block {
                width: 60px;
                .menu-icon {
                  display: none;
                }
                .menu-title {
                  width: 60px;
                  padding-top: 6px;
                  text-align: center;
                }
                .menu-go {
                  bottom: 8px;
                  right: 19px;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    .content {
      .main-block {
        .container {
          .page-path {
            padding-top: 60px;
          }
          .previous-page {
            top: 60px;
          }
        }
      }
    }
  }
  footer {
    .footer-content {
      &__nav {
        ul {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    .content {
      .header-content {
        &__info {
          .info-top {
            display: block;
            .callback {
              background: none;
              width: 150px;
              display: inline-block;
              margin-left: 35px;
              &__icon {
                display: none;
              }
              &__text {
                border: 1px solid #ce3a0a;
                background: linear-gradient(#f27021,#e84410);
                height: 50px;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                  border: 1px dashed #fff;
                  width: 146px;
                  height: 46px;
                  line-height: 40px;
                  color: #fff;
                }
              }
            }
            .phone-numbers {
              display: inline-flex;
              width: 165px;
              top: 0;
              left: 0;
              right: 0;
              height: 70px;
              border: 1px solid #ce3a0a;
              background: linear-gradient(#f27021,#e84410);
              vertical-align: top;
              margin-top: 20px;
              margin-right: 15px;
              float: right;
              &__icon {
                display: none;
              }
              &__text {
                color: #fff;
                width: 165px;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                .city-code {
                }
                .bracket {
                  color: #ce3a0a;
                }
                .number {
                  font-size: 16px;
                }
              }
            }
            .purch-block-fixed {
              width: 80px;
              height: 70px;
              margin-left: 5px;
              margin-top: 0;
              display: inline-flex;
              .purchases {
                background-size: contain;
                width: 65px;
              }
            }
            .work-time {
              display: none;
              &__icon {
                display: none;
              }
              &__text {
                text-align: center;
                font-size: 15px;
              }
            }
          }
          .info-bottom {
            flex-wrap: wrap;
            height: 125px;
            .shares {
              display: none;
            }
            .mother-child {
              display: none;
            }
            .shop-name {
              display: block;
              margin: 0 auto;
              bottom: 30px;
              position: relative;
              .border {
                .shop-name__title {
                }
                .shop-name__description {
                }
              }
            }
            .site-search {
              display: block;
              bottom: 0;
              left: 0;
              right: 0;
              margin: 0 auto;
              background-size: 245px 48px;
              position: relative;
              top: -28px;
              input {
                width: 150px;
                margin-left: 50px;
                margin-top: 12px;
              }
            }
          }
        }
      }
      .header-nav {
        box-sizing: border-box;
        background-size: 425px 60px;
        height: 60px;
        background: linear-gradient(#facb3f,#edb104);
        border: 1px solid #ecbc24;
        ul {
          padding-top: 3px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding-left: 0;
          justify-content: space-around;
          li {
            padding: 0 26px;
            a {
              font-size: 14px;
            }
          }
          li:nth-child(even) {
            display: none;
          }
        }
      }
      .nav-block {
        .nav-detail {
          .nav-cont {
            .nav-column {
              &__block {
                width: 60px;
                .menu-icon {
                  display: none;
                }
                .menu-title {
                  width: 60px;
                  padding-top: 6px;
                  text-align: center;
                }
                .menu-go {
                  bottom: 8px;
                  right: 19px;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    .page-path {
      display: none;
    }
  }
  footer {
    box-sizing: border-box;
    .footer-content {
      &__baby {
        display: none;
      }
      &__social {
        margin-top: 15px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  header {
    .content {
      .header-content {
        &__info {
          .info-top {
            .callback {
              display: block;
              margin: 0 auto;
              padding-top: 15px;
            }
            .phone-numbers {
              display: none;
            }
            .purch-block-fixed {
              .purchases {
              }
            }
          }
          .info-bottom {
            .shop-name {
              .border {
                .shop-name__title {
                }
                .shop-name__description {
                }
              }
            }
            .site-search {
              input {
              }
            }
          }
        }
      }
      .header-nav {
        box-sizing: border-box;
        background-size: 425px 60px;
        height: 60px;
        background: linear-gradient(#facb3f,#edb104);
        border: 1px solid #ecbc24;
        ul {
          padding-top: 3px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding-left: 0;
          justify-content: space-around;
          li {
            padding: 0 26px;
            a {
              font-size: 14px;
            }
          }
          li:nth-child(even) {
            display: none;
          }
        }
      }
      .nav-block {
        .nav-detail {
          .nav-cont {
            .nav-borders {
              display: none;
            }
          }
        }
      }
    }
  }
  footer {
    top: -495px;
    box-sizing: border-box;
    .footer-content {
      &__baby {
        display: none;
      }
      &__social {
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  header {
    .content {
      .header-content {
        &__info {
          .info-top {
            .purch-block-fixed {
              .purchases {
                position: relative;
                bottom: 22px;
              }
            }
          }
          .info-bottom {
            .shop-name {
              .border {
                .shop-name__title {
                }
                .shop-name__description {
                }
              }
            }
            .site-search {
              input {
              }
            }
          }
        }
      }
      .header-nav {
        ul {
          li {
            padding: 0 15px;
          }
        }
      }
      .nav-block {
        .nav-detail {
          .nav-cont {
            .nav-borders {
              display: none;
            }
            .nav-column {
              &__block {
                width: 51px;
                .menu-title {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-content {
      &__social {
        a {
          margin-left: 15px;
        }
      }
    }
  }
}