@media all {
  main {
    .content {
      .main-block {
        .container {
          .news-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            &__line {
              display: flex;
              flex-direction: column;
              .news-block {
                max-width: 360px;
                height: 240px;
                box-sizing: border-box;
                margin-bottom: 20px;
                .green-name {
                  background: linear-gradient(#8fd392,#80c581);
                }
                .yellow-name {
                  background: linear-gradient(#facc41,#edb105);
                }
                .blue-name {
                  background: linear-gradient(#92c7fd,#72a8e5);
                }
                .news-name {
                  width: 360px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  h5 {
                    border: 1px dashed #fff;
                    width: 354px;
                    height: 44px;
                    margin: 0;
                    font: normal 14px "helvetica bold";
                    color: #fff;
                    text-align: center;
                    line-height: 40px;
                  }
                }
                .news-text {
                  width: 360px;
                  height: 190px;
                  box-sizing: border-box;
                  border: 1px solid #d7d7d7;
                  border-top: none;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font: normal 13px "helvetica roman";
                  color: #969595;
                  span {
                    border: 1px dashed #d7d7d7;
                    width: 354px;
                    height: 184px;
                    padding: 0 10px;
                    a {
                      text-decoration: underline;
                      color: #f26f20;
                      font: normal 13px "helvetica roman";
                      display: block;
                      text-align: right;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}