//= template/head.html
//= template/header.html

<main>
    <div class="content">
        <div class="main-block">
            <div class="container">
                <div class="page-path">
                    <a href="#">Главная</a><a href="#"> Автокресла </a><a href="#"> Корзина </a>
                </div>
                <div class="previous-page">
                    <a href="#">Вернутся назад</a>
                </div>
                <div class="main-title">
                    <div class="main-title__border"></div>
                    <div class="main-title__head">Корзина</div>
                    <div class="main-title__border"></div>
                </div>
                <div class="main-content basket-content">
                    <div class="basket-products">
                        <div class="basket-products__one">
                            <div class="basket-dashed">
                                <div class="basket-product-img"><img src="img/jpg/chear.jpg" alt=""></div>
                                <div class="basket-product-name">Coto Baby Salsa Q Pro</div>
                                <div class="add-items">
                                    <a class="minus-item"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                    <span class="cur-item"><i class="curCounter">1</i></span>
                                    <a class="plus-item"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                <div class="basket-product-price">
                                    Цена: 3 400 000 руб.
                                </div>
                                <div class="basket-product-delete">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="basket-products__one">
                            <div class="basket-dashed">
                                <div class="basket-product-img"><img src="img/jpg/chear.jpg" alt=""></div>
                                <div class="basket-product-name">Coto Baby Salsa Q Pro</div>
                                <div class="add-items">
                                    <a class="minus-item"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                    <span class="cur-item"><i class="curCounter">1</i></span>
                                    <a class="plus-item"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </div>
                                <div class="basket-product-price">
                                    Цена: 3 400 000 руб.
                                </div>
                                <div class="basket-product-delete">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total-price">
                        <div class="total-price__promo">
                            <input type="text" placeholder="Промокод">
                        </div>
                        <div class="total-price__sum">
                            <span>Общая сумма:</span>
                            <span id="total">6 800 000</span>
                            <span>руб.</span>
                        </div>
                    </div>
                    <div class="delivery-options">
                        <div class="delivery-options__input-group">
                            <div class="input-title">
                                Оформление заказа
                            </div>
                            <input type="text" name="name" placeholder="Ваше имя">
                            <input type="number" name="phone-number" placeholder="Номер телефона">
                            <input type="text" name="address" placeholder="Адрес">
                            <input type="email" name="email" placeholder="Электронная почта">
                        </div>
                        <div class="delivery-options__checkbox-group">
                            <div class="checkbox-title">
                                Способ доставки
                            </div>
                            <div class="checkbox-one">
                                <input type="checkbox" id="method-1">
                                <label for="method-1">Спооб 1</label>
                            </div>
                            <div class="checkbox-one">
                                <input type="checkbox" id="method-2">
                                <label for="method-2">Спооб 2</label>
                            </div>
                            <div class="checkbox-one">
                                <input type="checkbox" id="method-3">
                                <label for="method-3">Спооб 3</label>
                            </div>
                            <div class="checkbox-one">
                                <input type="checkbox" id="method-4">
                                <label for="method-4">Самовывоз</label>
                            </div>
                        </div>
                    </div>
                    <div class="checkout">
                        <div>
                            <button>Оформить заказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



//= template/footer.html