//= template/head.html
//= template/header.html

<main>
    <div class="content">
        <div class="main-block">
            <div class="container">
                <div class="page-path">
                    <a href="#">Главная</a><a href="#"> Каталог </a>
                </div>
                <div class="main-title">
                    <div class="main-title__border"></div>
                    <div class="main-title__head">Автокресла</div>
                    <div class="main-title__border"></div>
                </div>
                <div class="main-content catalog-content">
                    <div class="catalog-content__filter">
                        <div class="filter-border">
                            <div class="filter-category" >
                                <div class="filter-category__title">
                                    <span class="sort-price">Сортировка по цене</span>
                                    <span class="sort-arrow"></span>
                                </div>
                                <div class="filter-category__detail">
                                    <div id="slider-range"></div>
                                    <p>
                                        <label for="amount-from">От</label>
                                        <input type="text" id="amount-from" readonly >
                                        <label for="amount-to">До</label>
                                        <input type="text" id="amount-to" readonly >
                                    </p>
                                    <button class="app-btn">Применить</button>
                                </div>
                            </div>
                            <div class="filter-category" >
                                <div class="filter-category__title">
                                    <span class="sort-price">Сортировка по бренду</span>
                                    <span class="sort-arrow"></span>
                                </div>
                                <div class="filter-category__detail">
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="c1" name="cc" /><span></span>
                                        <label for="c1">Название бренда</label>
                                    </div>
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="c2" name="cc" /><span></span>
                                        <label for="c2">Название бренда</label>
                                    </div>
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="c3" name="cc" /><span></span>
                                        <label for="c3">Название бренда</label>
                                    </div>
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="c4" name="cc" /><span></span>
                                        <label for="c4">Название бренда</label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-category" >
                                <div class="filter-category__title">
                                    <span class="sort-price">Сортировка по материалу</span>
                                    <span class="sort-arrow"></span>
                                </div>
                                <div class="filter-category__detail">
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="m1" name="cc" /><span></span>
                                        <label for="m1">Название бренда</label>
                                    </div>
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="m2" name="cc" /><span></span>
                                        <label for="m2">Название бренда</label>
                                    </div>
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="m3" name="cc" /><span></span>
                                        <label for="m3">Название бренда</label>
                                    </div>
                                    <div class="check-block">
                                        <input type="checkbox" class="checkbox" id="m4" name="cc" /><span></span>
                                        <label for="m4">Название бренда</label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-category" >
                                <div class="filter-category__title">
                                    <span class="sort-price">Сортировка по товарам</span>
                                    <span class="sort-arrow"></span>
                                </div>
                                <div class="filter-category__detail">
                                    <div class="product-type active">
                                        <a href="#">Товары с акцией</a>
                                    </div>
                                    <div class="product-type">
                                        <a href="#">Популярные товары</a>
                                    </div>
                                    <div class="product-type">
                                        <a href="#">Товары по акции</a>
                                    </div>
                                    <div class="product-type">
                                        <a href="#">Товары со скидкой</a>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-clean">
                                <button>Сброс сортировок</button>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-content__container">
                        <div class="display-filter">
                            <div class="white-border">
                                <div class="display-type">
                                    <span>Вид отображения:</span>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#" class="disp-active">4</a>
                                </div>
                                <div class="display-numbers">
                                    <span>На странице по:</span>
                                    <a href="#">12</a>
                                    <a href="#" class="disp-active">24</a>
                                    <a href="#">68</a>
                                </div>
                                <div class="display-count">
                                    <span>Всего товаров:</span><span>16</span>
                                </div>
                            </div>
                        </div>
                        <div class="display-content">
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="one-product">
                                <div class="product-slider_hide">
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                    <div class="product-small">
                                        <img src="img/jpg/chear.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product-border">
                                    <div class="product-img">
                                        <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                    </div>
                                    <div class="product-description">
                                        <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                        <div class="manufacturer">Производитель: Coto Baby</div>
                                        <div class="dashed-line"></div>
                                        <div class="price">3 400 000 руб.</div>
                                    </div>
                                    <div class="product-action">
                                        <div class="add">
                                            <a href="#">В корзину</a>
                                        </div>
                                        <div class="more-info">
                                            <a href="#"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="page-select">
                            <div class="at-start big">
                                <a href="#">В начало</a>
                            </div>
                            <div class="page-btn">
                                <a href="#">1</a>
                            </div>
                            <div class="page-btn">
                                <a href="#">2</a>
                            </div>
                            <div class="page-btn">
                                <a href="#">3</a>
                            </div>
                            <div class="page-btn">
                                <a href="#">4</a>
                            </div>
                            <div class="page-btn">
                                <a href="#">...</a>
                            </div>
                            <div class="at-end big">
                                <a href="#">В конец</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= template/footer.html