//= template/head.html
//= template/header.html
<main>
    <div class="content">
        <div class="main-block">
            <div class="container">
                <div class="page-path">
                    <a href="#">Главная</a><a href="#"> Автокресла </a><a href="#"> Название товара </a>
                </div>
                <div class="previous-page">
                    <a href="#">Вернутся назад</a>
                </div>
                <div class="main-content commodity-content">
                    <div class="img-block">
                        <div class="big-one">
                            <div class="some-img">
                                <a href="#"><img src="img/jpg/chear.jpg" alt=""><span class="grey-square"></span></a>
                            </div>
                        </div>
                        <div class="small-many">
                            <div class="some-img-small">
                                <a href="#"><img src="img/jpg/chear.jpg" alt=""><span class="grey-square"></span></a>
                            </div>
                            <div class="some-img-small">
                                <a href="#"><img src="img/jpg/chear.jpg" alt=""><span class="grey-square"></span></a>
                            </div>
                            <div class="some-img-small">
                                <a href="#"><img src="img/jpg/chear.jpg" alt=""><span class="grey-square"></span></a>
                            </div>
                            <div class="some-img-small">
                                <a href="#"><img src="img/jpg/chear.jpg" alt=""><span class="grey-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="info-block">
                        <div class="info-block__name">
                            <h3>Coto Baby Salsa Q Pro</h3>
                        </div>
                        <div class="info-block__availability">
                            <span>Есть в наличии</span>
                        </div>
                        <div class="info-block__price">
                            <span>цена:</span>
                            <span>5 400 000 руб.</span>
                        </div>
                        <div class="info-block__bay-block">
                            <div class="add-items">
                                <a class="minus-item"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                <span class="cur-item"><i class="curCounter">1</i></span>
                                <a class="plus-item"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                            <div class="items-buy">
                                <a href="#">В корзину</a>
                            </div>
                        </div>
                        <div class="info-block__additional-info">
                            <div class="title-block">Дополнительная информация ></div>
                            <table cellspacing="0" cellpadding="3">
                                <tbody>
                                <tr>
                                    <th>Параметры</th>
                                    <th>Значение</th>
                                </tr>
                                <tr>
                                    <td>Параметр 1</td>
                                    <td>Значение 1</td>
                                </tr>
                                <tr>
                                    <td>Параметр 2</td>
                                    <td>Значение 2</td>
                                </tr>
                                <tr>
                                    <td>Параметр 3</td>
                                    <td>Значение 3</td>
                                </tr>
                                <tr>
                                    <td>Параметр 4</td>
                                    <td>Значение 4</td>
                                </tr>
                                <tr>
                                    <td>Параметр 5</td>
                                    <td>Значение 5</td>
                                </tr>
                                <tr>
                                    <td>Параметр 6</td>
                                    <td>Значение 6</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="description-block">
                        <div class="description-block__title">
                            Описание товара
                        </div>
                        <div class="description-block__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                            unde omnis iste natus
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


//= template/footer.html