//= template/head.html
//= template/header.html


<main>
    <div class="content">
        <div class="main-block index-block">
            <div class="main-slider">
                <div class="main-slider__slide">
                    <h2>Подарите ребенку радость вместе с Mamakupi!</h2>
                    <img src="img/jpg/slider-1.jpg" alt="Подарите ребенку радость вместе с Mamakupi!">
                </div>
                <div class="main-slider__slide">
                    <h2>Подарите ребенку радость вместе с Mamakupi!</h2>
                    <img src="img/jpg/slider-1.jpg" alt="Подарите ребенку радость вместе с Mamakupi!">
                </div>
                <div class="main-slider__slide">
                    <h2>Подарите ребенку радость вместе с Mamakupi!</h2>
                    <img src="img/jpg/slider-1.jpg" alt="Подарите ребенку радость вместе с Mamakupi!">
                </div>
                <div class="main-slider__slide">
                    <h2>Подарите ребенку радость вместе с Mamakupi!</h2>
                    <img src="img/jpg/slider-1.jpg" alt="Подарите ребенку радость вместе с Mamakupi!">
                </div>
            </div>
            <div class="container">
                <div class="main-title index-title">
                    <div class="main-title__border"></div>
                    <div class="main-title__head">Хиты продаж</div>
                    <div class="main-title__border"></div>
                </div>
                <div class="main-content">
                    <div class="hits">
                        <div class="one-product">
                            <div class="product-slider_hide">
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="one-product">
                            <div class="product-slider_hide">
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="one-product">
                            <div class="product-slider_hide">
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="one-product">
                            <div class="product-slider_hide">
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="one-product">
                            <div class="product-slider_hide">
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                                <div class="product-small">
                                    <img src="img/jpg/chear.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-discount">
            <div class="news-discount__title">
                <a href="#">Новости</a>
                <a href="#">Товары со скидкой</a>
            </div>
            <div class="news-discount__content">
                <div class="news-group">
                    <div class="small-news">
                        <div class="news-name green-name">
                            <h5>Заголовок 1</h5>
                        </div>
                        <div class="news-text">
                                <span>
                                    <img src="img/jpg/small-news.jpg" alt="gdfkg">
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа модели.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                        </div>
                    </div>
                    <div class="small-news">
                        <div class="news-name yellow-name">
                            <h5>Заголовок 1</h5>
                        </div>
                        <div class="news-text">
                                <span>
                                    <img src="img/jpg/small-news.jpg" alt="gdfkg">
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа модели.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                        </div>
                    </div>
                    <div class="small-news">
                        <div class="news-name blue-name">
                            <h5>Заголовок 1</h5>
                        </div>
                        <div class="news-text">
                                <span>
                                    <img src="img/jpg/small-news.jpg" alt="gdfkg">
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа модели.
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="discounted-products">
                    <div class="discounted-slider">
                        <div class="one-product">
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="one-product">
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="one-product">
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="one-product">
                            <div class="product-border">
                                <div class="product-img">
                                    <img src="img/jpg/chear.jpg" alt="товар на сайте МАМАКУПИ.РУ">
                                </div>
                                <div class="product-description">
                                    <div class="name"><a href="#">Coto Baby Salsa Q Pro</a></div>
                                    <div class="manufacturer">Производитель: Coto Baby</div>
                                    <div class="dashed-line"></div>
                                    <div class="price">3 400 000 руб.</div>
                                </div>
                                <div class="product-action">
                                    <div class="add">
                                        <a href="#">В корзину</a>
                                    </div>
                                    <div class="more-info">
                                        <a href="#"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slider-btn">
                        <div class="grey-border">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


//= template/footer.html


