//= template/head.html
//= template/header.html

<main>
    <div class="content">
        <div class="main-block">
            <div class="container">
                <div class="page-path">
                    <a href="#">Главная</a><a href="#"> Новости </a>
                </div>
                <div class="previous-page">
                    <a href="#">Вернутся назад</a>
                </div>
                <div class="main-title">
                    <div class="main-title__border"></div>
                    <div class="main-title__head">Новости</div>
                    <div class="main-title__border"></div>
                </div>
                <div class="main-content news-content">
                    <div class="news-content__line">
                        <div class="news-block">
                            <div class="news-name green-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                        <div class="news-block">
                            <div class="news-name green-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                        <div class="news-block">
                            <div class="news-name green-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="news-content__line">
                        <div class="news-block">
                            <div class="news-name yellow-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                        <div class="news-block">
                            <div class="news-name yellow-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                        <div class="news-block">
                            <div class="news-name yellow-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="news-content__line">
                        <div class="news-block">
                            <div class="news-name blue-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                        <div class="news-block">
                            <div class="news-name blue-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                        <div class="news-block">
                            <div class="news-name blue-name">
                                <h5>Заголовок 1</h5>
                            </div>
                            <div class="news-text">
                                <span>
                                    <p>
                                        С другой стороны реализация намеченных плановых заданий требуют от нас анализа
                                        модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие
                                        различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших
                                        направлений развития. Товарищи! укрепление и развитие структуры...
                                    </p>
                                    <a href="#">Подробнее</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



//= template/footer.html